solar-lead-followup-workflow.json
{
  "name": "Solar Lead Follow-up → Google Tasks + Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-lead-followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook - Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "solar-lead-followup"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-taskid",
              "leftValue": "={{ $json.body.taskId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-node",
      "name": "Has Existing Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "task": "={{ $json.body.taskId }}",
        "updateFields": {
          "title": "={{ $json.body.customerName }} : {{ new Date($json.body.followUpDate).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) }}",
          "dueDate": "={{ $json.body.followUpDate }}:00.000Z",
          "notes": "=📋 SOLAR LEAD FOLLOW-UP\n━━━━━━━━━━━━━━━━━━━━━\n\n👤 Customer: {{ $json.body.customerName }}\n📞 Phone: {{ $json.body.phone }}\n📧 Email: {{ $json.body.email }}\n🏠 Project Type: {{ $json.body.projectType }}\n📍 Address: {{ $json.body.siteInfo }}\n⚡ Electrical: {{ $json.body.electricalService }}\n📊 Status: {{ $json.body.consultationStatus }}\n\n📝 Notes:\n{{ $json.body.notes }}\n\n━━━━━━━━━━━━━━━━━━━━━\nLead ID: {{ $json.body.leadId }}"
        }
      },
      "id": "update-task-node",
      "name": "Google Tasks - Update",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [480, 100]
    },
    {
      "parameters": {
        "task": "={{ $('Webhook - Receive Lead').first().json.body.taskId }}",
        "title": "={{ $json.body.customerName }} : {{ new Date($json.body.followUpDate).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) }}",
        "additionalFields": {
          "dueDate": "={{ $json.body.followUpDate }}:00.000Z",
          "notes": "=📋 SOLAR LEAD FOLLOW-UP\n━━━━━━━━━━━━━━━━━━━━━\n\n👤 Customer: {{ $json.body.customerName }}\n📞 Phone: {{ $json.body.phone }}\n📧 Email: {{ $json.body.email }}\n🏠 Project Type: {{ $json.body.projectType }}\n📍 Address: {{ $json.body.siteInfo }}\n⚡ Electrical: {{ $json.body.electricalService }}\n📊 Status: {{ $json.body.consultationStatus }}\n\n📝 Notes:\n{{ $json.body.notes }}\n\n━━━━━━━━━━━━━━━━━━━━━\nLead ID: {{ $json.body.leadId }}"
        }
      },
      "id": "create-task-node",
      "name": "Google Tasks - Create",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [480, 500]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Webhook - Receive Lead').first().json.body.leadId }}",
            "Customer Name": "={{ $('Webhook - Receive Lead').first().json.body.customerName }}",
            "Phone": "={{ $('Webhook - Receive Lead').first().json.body.phone }}",
            "Email": "={{ $('Webhook - Receive Lead').first().json.body.email }}",
            "Project Type": "={{ $('Webhook - Receive Lead').first().json.body.projectType }}",
            "Follow-up Date": "={{ $('Webhook - Receive Lead').first().json.body.followUpDate.split('T')[0] }}",
            "Follow-up Time": "={{ new Date($('Webhook - Receive Lead').first().json.body.followUpDate).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) }}",
            "Consultation Status": "={{ $('Webhook - Receive Lead').first().json.body.consultationStatus }}",
            "Site Address": "={{ $('Webhook - Receive Lead').first().json.body.siteInfo }}",
            "Electrical Service": "={{ $('Webhook - Receive Lead').first().json.body.electricalService }}",
            "Notes": "={{ $('Webhook - Receive Lead').first().json.body.notes }}",
            "Last Updated": "={{ new Date().toISOString() }}",
            "Google Task ID": "={{ $('Webhook - Receive Lead').first().json.body.taskId }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "sheets-update-node",
      "name": "Google Sheets - Update Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [720, 100]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Webhook - Receive Lead').first().json.body.leadId }}",
            "Customer Name": "={{ $('Webhook - Receive Lead').first().json.body.customerName }}",
            "Phone": "={{ $('Webhook - Receive Lead').first().json.body.phone }}",
            "Email": "={{ $('Webhook - Receive Lead').first().json.body.email }}",
            "Project Type": "={{ $('Webhook - Receive Lead').first().json.body.projectType }}",
            "Follow-up Date": "={{ $('Webhook - Receive Lead').first().json.body.followUpDate.split('T')[0] }}",
            "Follow-up Time": "={{ new Date($('Webhook - Receive Lead').first().json.body.followUpDate).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) }}",
            "Consultation Status": "={{ $('Webhook - Receive Lead').first().json.body.consultationStatus }}",
            "Site Address": "={{ $('Webhook - Receive Lead').first().json.body.siteInfo }}",
            "Electrical Service": "={{ $('Webhook - Receive Lead').first().json.body.electricalService }}",
            "Notes": "={{ $('Webhook - Receive Lead').first().json.body.notes }}",
            "Created Date": "={{ new Date().toISOString() }}",
            "Last Updated": "={{ new Date().toISOString() }}",
            "Google Task ID": "={{ $json.id }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "sheets-append-node",
      "name": "Google Sheets - Add Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [720, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"action\": \"updated\", \"taskId\": \"{{ $('Webhook - Receive Lead').first().json.body.taskId }}\" }",
        "options": {}
      },
      "id": "respond-update-node",
      "name": "Respond - Updated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"action\": \"created\", \"taskId\": \"{{ $('Google Tasks - Create').first().json.id }}\" }",
        "options": {}
      },
      "id": "respond-create-node",
      "name": "Respond - Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 500]
    },
    {
      "parameters": {
        "content": "## 🌞 Solar Lead Follow-up Workflow v3\n\n### Features:\n1. Creates/Updates Google Tasks with lead info\n2. Logs all leads to Google Sheets\n3. Returns task ID to SunTrack app\n\n### Flow:\n- **New leads** → Create Task → Add Sheet Row → Respond\n- **Updates** → Update Task → Update Sheet Row → Respond",
        "height": 240,
        "width": 340,
        "color": 5
      },
      "id": "sticky-note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -60]
    },
    {
      "parameters": {
        "content": "## ⚠️ Setup Required\n\n1. **Google Tasks nodes**: Select credentials + Task List\n2. **Google Sheets nodes**: Select credentials + Spreadsheet + Sheet\n3. Upload `suntrack-leads-template.csv` to Google Drive as a Sheet first!\n4. For Update Row: Set 'Lead ID' as the match column",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "sticky-note-2",
      "name": "Sticky Note - Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [340, -60]
    }
  ],
  "connections": {
    "Webhook - Receive Lead": {
      "main": [
        [
          {
            "node": "Has Existing Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Existing Task?": {
      "main": [
        [
          {
            "node": "Google Tasks - Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Tasks - Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Tasks - Update": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Tasks - Create": {
      "main": [
        [
          {
            "node": "Google Sheets - Add Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update Row": {
      "main": [
        [
          {
            "node": "Respond - Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Add Row": {
      "main": [
        [
          {
            "node": "Respond - Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
